# Python / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
myenv/
venv/
.venv/
env/

# Data & Large Caches
cache/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db


shl-hiring-assessment-2026/

